﻿@inject EmaDb db
@using EmaDbTest
@using EmaWebTest.Models
@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "_Registered";

    var user = Html
        .Kendo()
        .TextBox()
        .Name("user")
        .HtmlAttributes(new
        {
            id = "user",
            style = "width:100%"
        })
        .ToHtmlString();

    var input = Html
        .Kendo()
        .TextBox()
        .Name("input")
        .HtmlAttributes(new
        {
            id = "message",
            style = "width:100%"
        })
        .ToHtmlString();
}

<script src="/npm/@@aspnet/signalr/dist/browser/signalr.min.js"></script>

@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Демонстрационные данные",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Телемеханика"
        }
    }
})
@await Html.PartialAsync("Limitless/Kendo/Head")

<div class="content">

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Температура</h3>
            @(Html.Kendo().LinearGauge()
                  .Name("temp")
                  .Pointer(pointer => pointer.Value(65))
                  .Scale(scale => scale
                      .MinorUnit(5)
                      .MajorUnit(10)
                      .Min(-40)
                      .Max(40)
                  )
                  )
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Ток</h3>
            @(Html.Kendo().RadialGauge()
                  .Name("tok")
                  .Pointer(pointer => pointer.Value(65))
                  .Scale(scale => scale
                      .MinorUnit(0)
                      .StartAngle(-30)
                      .EndAngle(250)
                      .Max(25)
                  )
                  )
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Напряжение</h3>
            @(Html.Kendo().RadialGauge()
                  .Name("napr")
                  .Pointer(pointer => pointer.Value(65))
                  .Scale(scale => scale
                      .MinorUnit(0)
                      .StartAngle(-30)
                      .EndAngle(250)
                      .Max(250)
                      .Ranges(ranges =>
                      {
                          ranges.Add().From(0).To(180).Color("red");
                          ranges.Add().From(180).To(220).Color("green");
                          ranges.Add().From(220).To(250).Color("red");
                      })
                  )
                  )
        </div>
    </div>

</div>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/telemechanics')
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.on("Send",
        function(data) {
            var read = JSON.parse(data);

            $("#temp").data("kendoLinearGauge").value(read.a);
            $("#tok").data("kendoRadialGauge").value(read.b);
            $("#napr").data("kendoRadialGauge").value(read.c);
        });

    hubConnection.start();
</script>