﻿<style>
    #vertical { margin-top: -20px; }

    .pane-content { padding: 0 10px; }
</style>
<script>
    $(function() {

        function splitterResize() {
            const height = window.innerHeight;
            const navHeight = $('.navbar').height();
            const headerHeight = $('.page-header').height();
            const footerHeight = $('.footer').height();
            const result = height - navHeight - headerHeight - 4 - footerHeight;
            //$('#vertical').height(result).find('.k-pane').height(result);
            $('#vertical').height(result);
            const splitter = $('#vertical').data("kendoSplitter");
            splitter.trigger("resize");
        }

        $(window).resize(splitterResize);
        splitterResize();
        setTimeout(function() { $(window).resize(); }, 0);
    });
</script>