﻿@inject EmaDb db
@using EmaDbTest
@using EmaWebTest.Areas.DemoData.Controllers
@using EmaWebTest.Models
@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "_Registered";
}


@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Демонстрационные данные",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Графика"
        }
    }
})

@await Html.PartialAsync("Limitless/Kendo/Head")
<h3>График по X, Y, Z</h3>
@(Html
      .Kendo()
      .StockChart<TableDataController.GridModel>()
      .Name("chart1")
      .DataSource(v => v.Read(r => r.Url(Url.Action("Read", "ChartData", new {area = "DemoData"}))))
      .DateField("Date")
      .Legend(true)
      .RenderAs(RenderingMode.Canvas)
      .Series(series =>
      {
          series.Line(v => v.X);
          series.Area(v => v.Y);
          series.Column(v => v.Z);
      })
      .Navigator(nav => { nav.Series(series => { series.Area(v => v.X); }); }))
<h3>График по Y</h3>
@(
        Html
            .Kendo()
            .StockChart<TableDataController.GridModel>()
            .Name("chart2")
            .DataSource(v => v.Read(r => r.Url(Url.Action("Read", "ChartData", new {area = "DemoData"}))))
            .DateField("Date")
            .Series(series => { series.Area(v => v.Y); })
            .Navigator(nav => { nav.Series(series => { series.Area(v => v.Y); }); })
      )
<h3>График по Z</h3>
@(
        Html
            .Kendo()
            .StockChart<TableDataController.GridModel>()
            .Name("chart3")
            .DataSource(v => v.Read(r => r.Url(Url.Action("Read", "ChartData", new {area = "DemoData"}))))
            .DateField("Date")
            .Series(series => { series.Column(v => v.Z); })
            .Navigator(nav => { nav.Series(series => { series.Area(v => v.Z); }); })
      )
<div style="height: 300px"></div>
@await Html.PartialAsync("Limitless/Kendo/Grid/Edit")
@await Html.PartialAsync("Limitless/Kendo/Grid/Height")
@await Html.PartialAsync("Footer")