﻿@model EmaWebTest.Views.Shared.main.MainModel
@{
    var session = ViewContext.HttpContext.GetSession();
    var auth = cache.GetModel<AuthorizationModel>(session).CreateIfNull();
    var roles = auth.Roles ?? new string[0];
}
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            @if (roles.Contains("admin"))
            {
                <li>
                    <a href="#">
                        <i class="icon-chess-king"></i>
                        <span>Администрирование</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Users", new {area = "AdminUser"})">
                                Список пользователей
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a href="#">
                    <i class="icon-chart"></i>
                    <span>Демо</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "TableData", new {area = "DemoData"})">
                            Таблица
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "ChartData", new {area = "DemoData"})">
                            Графики
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "FormFilter", new {area = "DemoData"})">
                            Фильтрация
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-user-plus"></i>
                    <span>Сотрудники</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "ListCoWorkers", new {area = "CoWorkers"})">
                            Таблица
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Chat", new {area = "DemoData"})">
                    <i class="icon-bubbles4"></i>
                    <span>Чат</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Draw", new {area = "DemoData"})">
                    <i class="icon-stack4"></i>
                    <span>Доска совещаний</span>
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("Index", "Db", new {area = "Base"})">
                    <i class="icon-chess-king"></i>
                    <span>Добавить демоданные</span>
                </a>
            </li>*@
            <li>
                <a href="@Url.Action("Index", "TeleMechanics", new {area = "DemoData"})">
                    <i class="icon-pulse2"></i>
                    <span>Телемеханика</span>
                </a>
            </li>
        </ul>
    </div>
</div>