﻿@model EmaWebTest.Views.Shared.main.MainModel

<div class="sidebar sidebar-main  sidebar-fixed">
    <div class="sidebar-content" style="outline: none; overflow-y: hidden;">
        @await Html.PartialAsync("main/user", Model)
        @await Html.PartialAsync("main/category", Model)
    </div>
</div>