﻿@model EmaWebTest.Views.Shared.main.MainModel
@{
    var sessionGuid = ViewContext.HttpContext.GetSession();
    var authModel = Model.Auth;
}
<script>
    console.log('@sessionGuid');
    console.log('@authModel.ToJson()');
</script>
<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <a href="#" class="media-left fa fa-user">
                @*<img src="assets/images/image.png" class="img-circle img-sm" alt="">*@
            </a>
            <div class="media-body">
                <span class="media-heading text-semibold">
                    @((authModel?.Caption).RetIfNullOrWhiteSpace("неизвестный"))
                </span>
                @*<div class="text-size-mini text-muted">
                    <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                </div>*@
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li>
                        <a href="#">
                            <i class="icon-cog3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>