﻿@inject EmaDb db
@using EmaDbTest
@using EmaWebTest.Models
@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "_Registered";

    var color = Html
        .Kendo()
        .DropDownList()
        .Name("color")
        .BindTo(new List<SelectListItem>
        {
            new SelectListItem("Черный", "black"),
            new SelectListItem("Белый", "white"),
            new SelectListItem("Красный", "red"),
            new SelectListItem("Зеленый", "green"),
            new SelectListItem("Синий", "blue")
        })
        .HtmlAttributes(new
        {
            style = "width:100%"
        })
        .ToHtmlString();
}
<style>
    canvas {
        border: 1px solid #000000;
        cursor: crosshair;
    }
</style>
<script src="/npm/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Демонстрационные данные",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Доска совещаний"
        }
    }
})
@await Html.PartialAsync("Limitless/Kendo/Head")
@(Html.Kendo().Splitter()
      .Name("vertical")
      .Orientation(SplitterOrientation.Horizontal)
      .Panes(verticalPanes =>
      {
          verticalPanes.Add()
              .Resizable(true)
              .Collapsible(false)
              .Content(
                  @<canvas id="canvas" width="800" height="500" onmouseout="clearMousePositions()"></canvas>
              );

          verticalPanes.Add()
              .Size("220px")
              .Collapsible(true)
              .Resizable(false)
              .Content(
                  @<div style="padding: 10px">
                      <hr/>
                      <h4>Цвет пера</h4>
                      @Html.Raw(color)
                      <hr/>
                  </div>
              );
      })
      )
@await Html.PartialAsync("Footer")
@await Html.PartialAsync("Limitless/Kendo/Splitter/Height")
<script>
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var canvasx = $(canvas).offset().left;
    var canvasy = $(canvas).offset().top;
    var last_mousex = last_mousey = 0;
    var mousex = mousey = 0;
    var mousedown = false;
    var tooltype = 'draw';
    $(canvas).on('mousedown',
        function(e) {
            last_mousex = mousex = parseInt(e.clientX - canvasx);
            last_mousey = mousey = parseInt(e.clientY - canvasy);
            mousedown = true;
        });
    $(canvas).on('mouseup',
        function(e) {
            mousedown = false;
        });
    var drawCanvas = function(prev_x, prev_y, x, y, clr) {
        ctx.beginPath();
        ctx.globalCompositeOperation = 'source-over';
        ctx.strokeStyle = clr;
        ctx.lineWidth = 3;
        ctx.moveTo(prev_x, prev_y);
        ctx.lineTo(x, y);
        ctx.lineJoin = ctx.lineCap = 'round';
        ctx.stroke();
    };
    $(canvas).on('mousemove',
        function(e) {
            mousex = parseInt(e.clientX - canvasx);
            mousey = parseInt(e.clientY - canvasy);
            const clr = $('#color').val();
            if ((last_mousex > 0 && last_mousey > 0) && mousedown) {
                drawCanvas(mousex, mousey, last_mousex, last_mousey, clr);
                connection.invoke('draw', last_mousex, last_mousey, mousex, mousey, clr);
            }
            last_mousex = mousex;
            last_mousey = mousey;
        });
    var mouse_down = false;
    var connection = new signalR.HubConnectionBuilder()
        .withUrl('/draw')
        .build();
    connection.on('draw',
        function(prev_x, prev_y, x, y, clr) {
            console.log(`X: ${x} Y: ${y}`);
            drawCanvas(prev_x, prev_y, x, y, clr);
        });
    connection.start();
    clearMousePositions = function() {
        last_mousex = 0;
        last_mousey = 0;
    };
</script>