﻿@inject EmaDb db
@using System
@using System.Collections
@using EmaDbTest
@using EmaDbTest.Tables
@using EmaWebTest.Areas.CoWorkers.Controllers
@using EmaWebTest.Areas.DemoData.Controllers
@using EmaWebTest.Models
@using EmaWebTest.Support.Telerik
@using Finflaex.Support.Attributes
@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "_Registered";

    var males = Enum
        .GetValues(typeof(CoWorker.MaleType))
        .Cast<CoWorker.MaleType>()
        .Select(v => new
        {
            ID = (int)v,
            Name = v.AtValue()
        })
        .ToArray();
}

@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Сотрудники",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Таблица"
        }
    }
})

@await Html.PartialAsync("Limitless/Kendo/Head")
@{
    var table = Html.Limitless()
        .Table<ListCoWorkersController.GridModel>("table_types")
        .DataSourceAjaxDefault("ListCoWorkers", "CoWorkers", source =>
        {
            source
                .Model(model =>
                {
                    model.Id(v => v.ID);
                    model.Field(v => v.ID).DefaultValue(Guid.NewGuid());
                });
        })
        .ToolBar(toolbar => { toolbar.Create(); })
        .Editable(edit => { edit.Mode(GridEditMode.PopUp).TemplateName("/CoWorker/Edit"); })
        .Columns(cols =>
        {
            cols.Bound(v => v.Name);
            cols.Bound(v => v.Surname);
            cols.Bound(v => v.Old);
            cols.ForeignKey(v => v.Type, males, "ID", "Name");
            cols.ForeignKey(v => v.DepartamentGuid, (IEnumerable)ViewData["deps"], "ID", "Caption");
            cols.CommandEdit();
        })
        .ToHtmlString();
}

@(Html.Kendo().Splitter()
              .Name("vertical")
              .Orientation(SplitterOrientation.Horizontal)
              .Panes(verticalPanes =>
              {
                  verticalPanes.Add()
                      .Resizable(true)
                      .Collapsible(false)
                      .Content(table);
              })
)

@await Html.PartialAsync("Limitless/Kendo/Grid/Edit")
@await Html.PartialAsync("Footer")
@await Html.PartialAsync("Limitless/Kendo/Splitter/Height")

<script type="text/javascript">
    function Edit() {
        const grid = $("#table_types").data("kendoGrid");
        const model = grid.dataItem(grid.select());
        if (model != null) {
            location.href = `/CoWorkers/Experience/index/${model.ID}`;
        }
    }
</script>

@(Html.Limitless().TableContext("grid_menu")
          .Target("#table_types")
          .Items(items =>
          {
              items.Function("Стаж", "Edit");
          }))