﻿@inject EmaDb db
@using EmaDbTest
@using EmaWebTest.Areas.DemoData.Controllers
@using EmaWebTest.Models
@using EmaWebTest.Support.Telerik
@using Kendo.Mvc.UI
@model EmaWebTest.Areas.DemoData.Controllers.FormFilterController.ViewModel

@{
    Layout = "_Registered";
}


@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Демонстрационные данные",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Таблица"
        }
    }
})
@await Html.PartialAsync("Limitless/Kendo/Head")

<script>
    function reloadTable() {
        $('#table').data("kendoGrid").dataSource.read();
    }

    function dataTable() {
        return {
            start: $('#start').val(),
            end: $('#end').val(),
            startInterval: $('#startInterval').val(),
            endInterval: $('#endInterval').val(),
        };
    }
</script>

@{
    var start = Html
        .Kendo()
        .DateTimePicker()
        .Name("start")
        .HtmlAttributes(new
        {
            style = "width:100%"
        })
        .Events(events => { events.Change("reloadTable"); })
        .Value(Model.start)
        .ToHtmlString();

    var end = Html
        .Kendo()
        .DateTimePicker()
        .Name("end")
        .HtmlAttributes(new
        {
            style = "width:100%"
        })
        .Events(events => { events.Change("reloadTable"); })
        .Value(Model.end)
        .ToHtmlString();

    var startInterval = Html
        .Kendo()
        .TimePicker()
        .Name("startInterval")
        .HtmlAttributes(new
        {
            style = "width:100%"
        })
        .Value(TimeSpan.Zero)
        .Events(events => { events.Change("reloadTable"); })
        .ToHtmlString();

    var endInterval = Html
        .Kendo()
        .TimePicker()
        .Name("endInterval")
        .HtmlAttributes(new
        {
            style = "width:100%"
        })
        .Value(TimeSpan.FromSeconds(86399))
        .Events(events => { events.Change("reloadTable"); })
        .ToHtmlString();

    var table = Html.Limitless()
        .Table<TableDataController.GridModel>("table")
        .DataSourceAjaxDefault("tabledata", "demodata", source =>
        {
            source
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(v => v.ID);
                    model.Field(v => v.ID).DefaultValue(Guid.NewGuid());
                    model.Field(v => v.DateString);
                    model.Field(v => v.TimeString);
                })
                .Read(read =>
                {
                    read.Url(Url.Action("ReadFilter", "TableData", new
                    {
                        area = "DemoData"
                    }))
                        .Data("dataTable");
                });
        })
        //.ToolBar(toolbar => { toolbar.Create(); })
        .Columns(cols =>
        {
            cols.Bound(v => v.DateString);
            cols.Bound(v => v.TimeString);
            cols.Bound(v => v.X);
            cols.Bound(v => v.Y);
            cols.Bound(v => v.Z);
        })
        .Groupable(true)
        .HtmlAttributes(new
        {
            style = "height:100%"
        })
        .ToHtmlString();
}

<style>
    #table {
        border-width: 0;
        height: 100% !important;
    }
</style>

@(Html.Kendo().Splitter()
      .Name("vertical")
      .Orientation(SplitterOrientation.Horizontal)
      .Panes(verticalPanes =>
      {
          verticalPanes.Add()
              .Size("220px")
              .Collapsible(true)
              .Resizable(false)
              .Content(
                  @<div style="padding: 10px">
                      <h4>Начало</h4>
                      @Html.Raw(start)
                      <h4>Окончание</h4>
                      @Html.Raw(end)
                      <h4>Начало интервала</h4>
                      @Html.Raw(startInterval)
                      <h4>Окончание интервала</h4>
                      @Html.Raw(endInterval)
                  </div>
              );

          verticalPanes.Add()
              .Resizable(true)
              .Collapsible(false)
              .Content(table);
      })
      )

@await Html.PartialAsync("Limitless/Kendo/Grid/Edit")
@await Html.PartialAsync("Footer")
@await Html.PartialAsync("Limitless/Kendo/Splitter/Height")