﻿@model PageHeaderModel

<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <a onclick="window.history.back()" class="icon-arrow-left52 position-left"></a>
                <span class="text-semibold">
                    @(Model.Caption)
                </span>
                @Model.Description.RetIfNullOrWhiteSpace()
            </h4>
            <div>
                @Html.Raw(Model.Html.RetIfNull(""))
            </div>
            @if (Model.Buttons.Any())
            {
                <a class="heading-elements-toggle">
                    <i class="icon-more"></i>
                </a>
            }
        </div>
        @if (Model.Buttons.Any())
        {
            <div class="heading-elements">
                <div class="heading-btn-group">
                    @foreach (var button in Model.Buttons)
                    {
                        <a class="btn btn-link btn-float has-text"
                           @(button.Url.RetIfNullOrWhiteSpace(string.Empty, v => $" href={v} "))
                           @(button.OnClick.RetIfNullOrWhiteSpace(string.Empty, v => $" onclick={v} "))>
                            <i class="@(button.Icon.RetIfNullOrWhiteSpace()) text-primary"></i>
                            <span>@(button.Caption.RetIfNullOrWhiteSpace())</span>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
    @if (Model.Breadcrumb.Any() || Model.Menu.Any())
    {
        <div class="breadcrumb-line">
            @if (Model.Breadcrumb.Any())
            {
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Start", new {area = "Home"})">
                            <i class="icon-home2 position-left"></i>
                        </a>
                    </li>
                    @foreach (var item in Model.Breadcrumb)
                    {
                        <li>
                            @{
                                var itemUrl = item.Url.RetIfNullOrWhiteSpace(string.Empty, v => $"href={v}");
                                var itemIcon = !item.Icon.IsNullOrWhiteSpace();
                                var itemCaption = !item.Caption.IsNullOrWhiteSpace();
                                var last = Model.Breadcrumb.Last().Equals(item)
                                    ? $"class=\"active\""
                                    : string.Empty;
                            }
                            <a @itemUrl @last>
                                @if (itemIcon)
                                {
                                    <i class="@item.Icon position-left"></i>
                                }
                                @if (itemCaption)
                                {
                                    @(item.Caption)
                                }
                            </a>
                        </li>
                    }
                </ul>
            }
            @if (Model.Menu.Any())
            {
                <ul class="breadcrumb-elements">
                    @foreach (var item in Model.Menu)
                    {
                        <li @(item.Subitem.Any() ? $"class=\"dropdown\"" : string.Empty)>
                            <a @(item.Url.IsNullOrWhiteSpace() ? string.Empty : $"href={item.Url}")
                                @(item.Subitem.Any() ? $"class=\"dropdown-toggle\" data-toggle=\"dropdown\"" : string.Empty)>
                                @if (!item.Icon.IsNullOrWhiteSpace())
                                {
                                    <i class="@item.Icon position-left"></i>
                                }
                                @if (!item.Caption.IsNullOrWhiteSpace())
                                {
                                    @(item.Caption)
                                }
                            </a>
                            @if (item.Subitem.Any())
                            {
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @foreach (var subitem in item.Subitem)
                                    {
                                        <li>
                                            <a @(subitem.Url.IsNullOrWhiteSpace() ? string.Empty : $"href={item.Url}")>
                                                @if (!subitem.Icon.IsNullOrWhiteSpace())
                                                {
                                                    <i class="@subitem.Icon"></i>
                                                }
                                                @if (!item.Caption.IsNullOrWhiteSpace())
                                                {
                                                    @(item.Caption)
                                                }
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    }
</div>