﻿@model PanelHeaderModel

<div class="panel-heading">
    <h5 class="panel-title">
        @(Model.Caption)
        @if (Model.Close || Model.Collapse || Model.Reload)
        {
            <a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        }
    </h5>
    @if (Model.Close || Model.Collapse || Model.Reload)
    {
        <div class="heading-elements">
            <ul class="icons-list">
                @if (Model.Collapse)
                {
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                }
                @if (Model.Reload)
                {
                    <li>
                        <a data-action="reload"></a>
                    </li>
                }
                @if (Model.Close)
                {
                    <li>
                        <a data-action="close"></a>
                    </li>
                }
            </ul>
        </div>
    }
</div>