﻿@using EmaWebTest.Areas.AdminUser.Controllers
@using EmaWebTest.Models
@using EmaWebTest.Support.Telerik
@model dynamic

@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Registered";
}

@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = ViewBag.Title,
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = ViewBag.Title
        }
    }
})

@await Html.PartialAsync("Limitless/Kendo/Head")
@(
        Html.Limitless()
            .Table<UsersController.GridModel>("table_users")
            .DataSourceAjaxDefault("users", "adminuser", source =>
            {
                source
                    .Model(model =>
                    {
                        model.Id(v => v.ID);
                        model.Field(id => id.ID).DefaultValue(Guid.NewGuid());
                    });
            })
            .ToolBar(toolbar => { toolbar.Create(); })
            .Columns(cols =>
            {
                cols.Bound(v => v.Login).FilterContains();
                cols.Bound(v => v.Caption).FilterContains();
                cols.CommandEdit();
            })
      )
@await Html.PartialAsync("Limitless/Kendo/Grid/Edit")
@await Html.PartialAsync("Limitless/Kendo/Grid/Height")
@await Html.PartialAsync("Footer")

<script type="text/javascript">
    function TableRoles() {
        const grid = $("#table_users").data("kendoGrid");
        const model = grid.dataItem(grid.select());
        if (model != null) {
            location.href = `/adminuser/userroles/index/${model.ID}`;
        }
    }
</script>

@(
        Html.Limitless().TableContext("grid_menu")
            .Target("#table_users")
            .Items(items => { items.Function("Роли", "TableRoles"); })
      )