﻿<link rel="stylesheet" href="~/kendo.min.css"/>
<script src="~/kendo/kendo.all.min.js"></script>
<script src="~/kendo/kendo.aspnetmvc.min.js"></script>
<script src="~/kendo/cultures/kendo.culture.ru-RU.min.js"></script>
<script src="~/kendo/jszip.min.js"></script>
<script src="~/scripts/FormToJson.min.js"></script>

@* <script src="~/scripts/ResizeSensor.js"></script> *@
@* <script src="~/scripts/ElementQueries.js"></script> *@

@* <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.common.min.css" rel="stylesheet" type="text/css" /> *@
@* <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.silver.min.css" rel="stylesheet" type="text/css" /> *@
@* <link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.silver.mobile.min.css" rel="stylesheet" type="text/css" /> *@
@* *@
@* <script src="https://kendo.cdn.telerik.com/2018.1.117/js/jquery.min.js"></script> *@
@* <script src="https://kendo.cdn.telerik.com/2018.1.117/js/jszip.min.js"></script> *@
@* <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.all.min.js"></script> *@
@* <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.aspnetmvc.min.js"></script> *@
<script>kendo.culture("ru-RU")</script>

<script type="text/javascript">
    function GridContextLink(grind_name, url, value_name) {
        const grid = $(`#${grind_name}`).data("kendoGrid") || $(`#${grind_name}`).data("kendoTreeList");
        const model = grid.dataItem(grid.select());
        if (model != null) {
            location.href = `${url}/${model[value_name]}`;
        }
    }
</script>