﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        @((ViewBag.Title as string).RetIfNullOrWhiteSpace("Finflaex", caption => $"FX | {caption}"))
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/style.min.css"/>
    <script src="~/script.min.js"></script>
    @RenderSection("head", false)
</head>
<body class="navbar-top" style="zoom: 1">
@RenderBody()
</body>
</html>