<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - reactweb</title>
    @*    <base href="~/" />*@

    @*    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
    @*    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />*@
</head>
<body>
@RenderBody()

@*    <script src="~/dist/vendor.js" asp-append-version="true"></script>*@
@RenderSection("scripts", false)
</body>
</html>