﻿@using EmaWebTest.Views.Shared.main
@using EmaWebTest.Views.Shared.navbar
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        @((ViewBag.Title as string).RetIfNullOrWhiteSpace("ЕМА Тест", caption => $"ЕМА | {caption}"))
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/style.min.css"/>
    <script src="~/script.min.js"></script>
    @RenderSection("head", false)
</head>
@{
    var session = ViewContext.HttpContext.GetSession();
    var auth = cache.GetModel<AuthorizationModel>(session);
}
<body class="
      @(auth?.ToggleMain ?? false ? "sidebar-xs" : string.Empty)
      @(auth?.ToggleSecondary ?? false ? string.Empty : "sidebar-secondary-hidden")
      @(auth?.ToggleOpposite ?? false ? "sidebar-opposite-visible" : string.Empty)
      " style="zoom: 1">
@{
    var code = string.Empty;
    #if DEBUG
    #else
    code = @"<script>document.addEventListener('contextmenu',event => event.preventDefault())</script>";
#endif
}
@Html.Raw(code)
<script>
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors,
                function(key, value) {
                    if ('errors' in value) {
                        $.each(value.errors,
                            function() {
                                message += this + "\n";
                            });
                    }
                });
            alert(message);
        }
    }
</script>
@await Html.PartialAsync("navbar/index", new navbar_model
{
    Auth = auth
})
<div class="page-container" style="min-height: 873px">
    <div class="page-content">
        @await Html.PartialAsync("main/index", new MainModel
        {
            Auth = auth
        })
        @await Html.PartialAsync("secondary/index")
        @await Html.PartialAsync("opposite/index")
        <div class="content-wrapper" id="content-wrapper">
            @RenderBody()
        </div>
    </div>
</div>
<style>
    .k-grid tr.k-state-selected:hover,
    [role='grid'] .k-state-selected,
    [role='grid'] .k-state-selected:link,
    [role='grid'] .k-state-selected:visited,
    .k-grid tr.k-state-selected:hover a,
    [role='grid'] .k-state-selected a,
    [role='grid'] .k-state-selected:link a,
    [role='grid'] .k-state-selected:visited a {
        background-color: #1984c8;
        border-color: #1984c8;
        color: #fff;
    }

    .k-filtercell > .k-operator-hidden { padding-right: 0; }

    .k-combobox-clearable .k-input { padding-right: 5px; }

    td[role='gridcell'] { white-space: nowrap; }
</style>
<script>
    $(document).on("mousedown",
        "[data-role='selectable'] tr[role='row']",
        function(e) {
            if (e.which === 3) {
                $(this).addClass("k-state-selected");
            }
        });
    $(function() {
        $('.k-clear-value').remove();
    });
</script>
@RenderSection("foot", false)
</body>
</html>