﻿<style>
    .footer {
        bottom: 0px;
        padding: 0 20px;
    }

    .content:last-child { padding-bottom: 20px !important; }
</style>
<div class="footer text-muted text-center ">
    &copy; 2017-@($"{DateTime.Now.Year:0000}"). created by <a href="mailto:finflaex@@gmail.com" target="_blank">Finflaex</a>
</div>