﻿<style>
    .buttonDetail {
        margin-right: -5px;
        padding: 0 10px 20px 0;
    }

    .buttonDetail > * {
        box-sizing: border-box;
        text-align: center;
    }

    .buttonDetail > * > * {
        display: block;
        text-align: left;
    }

    .buttonDetail > * > h6 {
        color: #2f4f4f;
        font-weight: bold;
        margin: 0;
    }

    .k-button.btn,
    .k-button.btn,
    .k-button.btn,
    .k-button.btn {
        font-family: icomoon !important;
        min-width: 10px !important;
        transition: all ease-in-out 0s;
    }
</style>
<script>
    function onEditDataBound() {
        onDataBoundWorker();
        setTimeout(onDataBoundWorker, 0);
    }

    function onDataBoundWorker() {
        $('.k-grid-edit').removeClass('k-button-icontext').addClass('btn btn-sm icon-pencil').html('').stop(true, true);
        $('.k-grid-delete').removeClass('k-button-icontext').addClass('btn btn-sm icon-trash').html('')
            .stop(true, true);
        $('.k-grid-update').removeClass('k-button-icontext').addClass('btn btn-sm icon-checkmark').html('')
            .stop(true, true);
        $('.k-grid-cancel').removeClass('k-button-icontext').addClass('btn btn-sm icon-blocked').html('')
            .stop(true, true);
    }

    function dragStart(e) {
        $(".k-treelist").data("kendoTreeList").dataSource.options.autoSync = true;
    }

    function dragEnd(e) {
        $(".k-treelist").data("kendoTreeList").dataSource.options.autoSync = false;
    }
</script>