﻿<style>
    .k-grid {
        height: calc(100vh - 210px) !important;
        margin-top: -20px;
    }
</style>
<script>
    $(function() {

        function treeListResize() {
            const container = $(".k-treelist");
            const height = container.height() - 65;
            container.find('.k-grid-content').height(height);
        }

        $(window).resize(function() {
            treeListResize();
            const grid = $('.k-grid').data('kendoGrid') || $('.k-grid').data('kendoTreeList');
            //$('#grid').data('kendoGrid').dataSource.read();
            if (grid) {
                grid.refresh();
            }
        });

        setTimeout(treeListResize, 300);
    });
</script>