﻿@using EmaWebTest.Models
@{
    Layout = "_Registered";
}

@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = "Домашняя страница",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "qwe"
        }
    }
})

@*<div class="content">
    <div class="alert alert-info">
        <p>
            Сайт находится в стадии разработки.
        </p>
    </div>

</div>*@

<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="alert alert-info">
                <p>
                    Сайт находится в стадии разработки
                </p>
            </div>
        </div>
    </div>
</div>