﻿@model EmaWebTest.Areas.Base.Controllers.StartController.LoginModel
@{
    Layout = "_Base";
}
<script>
    $('body').addClass('login-container');
</script>

<div class="page-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                <form id="formLogin" action="@Url.Action("Login", "Start", new {area = "Base"})">
                    @Html.HiddenFor(v => v.Path)
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <h5 class="content-group">
                                Добро пожаловать
                                @if (!string.IsNullOrWhiteSpace(Model.Message))
                                {
                                    <small class="display-block text-danger">
                                        @Model.Message
                                    </small>
                                }
                            </h5>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input name="login" type="text" class="form-control" placeholder="Логин" value="@Model.Login">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input name="password" type="password" class="form-control" placeholder="Пароль" value="@Model.Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue btn-block">
                                ВХОД
                            </button>
                        </div>
                        @*<div class="form-group">
                            @Html.ActionLink("Инициализация БД", "Index", "Db", new {area = "Base"})
                        </div>*@
                    </div>
                </form>
                @await Html.PartialAsync("Footer")
            </div>
        </div>
    </div>
</div>
@*<script>
    $('#formLogin').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("Login", "Start", new { area="Home"})',
            type: 'POST',
            //contentType: 'application/json',
            dataType: 'json',
            data: {
                Login: $('#login').val(),
                Password: $('#password').val()
            },
            success: function (data) {
                console.log(data)
            }
        })
        return false;
    });
</script>*@