﻿@using EmaDbTest.Tables
@using Finflaex.Support.Attributes
@using Kendo.Mvc.UI
@model EmaWebTest.Areas.CoWorkers.Controllers.ListCoWorkersController.GridModel

@{
    var males = Enum
        .GetValues(typeof(CoWorker.MaleType))
        .Cast<CoWorker.MaleType>()
        .Select(v => new
        {
            ID = (int) v,
            Name = v.AtValue()
        })
        .ToArray();
}

<div class="p-20">
    <div class="p-5">
        @Html.LabelFor(v => v.Name)
        @(Html.Kendo().AutoCompleteFor(v => v.Name)
              .Filter("startswith")
              .Placeholder("Введите имя...")
              .BindTo(new string[]
              {
                  "Андрей", "Алексей", "Алёна", "Александра", "Анна", "Артем", "Амир", "Анжелика", "Аким", "Ангелина", "Антон", "Алиса", "Агата", "Анжела", "Анфиса", "Ариана", "Аполлон", "Амалия", "Артур", "Альберт", "Амина", "Асель", "Алла", "Алина", "Алевтина", "Анита", "Арсений", "Аделина", "Агнесса", "Александр", "Анатолий", "Алия", "Адам", "Аида", "Авраам", "Алан"
              })
              .Separator(", ")
              .HtmlAttributes(new
              {
                  style = "width:100%"
              })
              )
    </div>
    <div class="p-5">
        @Html.LabelFor(v => v.Surname)
        @(Html.Kendo()
              .TextBoxFor(v => v.Surname)
              .HtmlAttributes(new
              {
                  style = "width:100%"
              }))
    </div>
    <div class="p-5">
        @Html.LabelFor(v => v.Old)
        @(Html.Kendo()
              .NumericTextBoxFor(v => v.Old)
              .Min(10)
              .Max(100)
              .HtmlAttributes(new
              {
                  style = "width:100%"
              }))
    </div>
    <div class="p-5">
        @Html.LabelFor(v => v.Type)
        @(Html.Kendo()
              .DropDownListFor(v => v.Type)
              .HtmlAttributes(new
              {
                  style = "width:100%"
              })
              .OptionLabel("Начните вводить ...")
              .DataValueField("ID")
              .DataTextField("Name")
              .BindTo(males))
    </div>
    <div class="p-5">
        @Html.LabelFor(v => v.DepartamentGuid)
        @(Html.Kendo()
              .DropDownListFor(v => v.DepartamentGuid)
              .HtmlAttributes(new
              {
                  style = "width:100%"
              })
              .OptionLabel("Начните вводить ...")
              .DataValueField("ID")
              .DataTextField("Caption")
              .Filter(FilterType.Contains)
              .DataSource(source =>
              {
                  source
                      .Read(v => v.Url(Url.Action("departaments", "ListCoWorkers", new
                      {
                          area = "CoWorkers"
                      })));
              }))
    </div>
</div>