﻿@inject EmaDb db
@using EmaDbTest
@using EmaWebTest.Models
@using Kendo.Mvc.UI
@model dynamic

@{
    Layout = "_Registered";

    var user = Html
        .Kendo()
        .TextBox()
        .Name("user")
        .HtmlAttributes(new
        {
            id = "user",
            style = "width:100%"
        })
        .ToHtmlString();

    var input = Html
        .Kendo()
        .TextBox()
        .Name("input")
        .HtmlAttributes(new
        {
            id = "message",
            style = "width:100%"
        })
        .ToHtmlString();
}

<script src="/npm/@@aspnet/signalr/dist/browser/signalr.min.js"></script>

@await Html.PartialAsync("Limitless/Page/PageHeader", new PageHeaderModel
{
    Caption = $"Демонстрационные данные",
    Breadcrumb = new[]
    {
        new ActionLinkModel
        {
            Caption = "Чат"
        }
    }
})
@await Html.PartialAsync("Limitless/Kendo/Head")

@(Html.Kendo().Splitter()
      .Name("vertical")
      .Orientation(SplitterOrientation.Horizontal)
      .Panes(verticalPanes =>
      {
          verticalPanes.Add()
              .Size("220px")
              .Collapsible(true)
              .Resizable(false)
              .Content(
                  @<div style="padding: 10px">
                      <hr/>
                      <h4>Пользователь</h4>
                      @Html.Raw(user)
                      <hr/>
                      <h4>Сообщение</h4>
                      @Html.Raw(input)
                      <hr/>
                      <button class="btn btn-primary" id="sendBtn">Отправить</button>
                  </div>
              );

          verticalPanes.Add()
              .Resizable(true)
              .Collapsible(false)
              .Content(
                  @<div style="padding: 10px" id="chatroom">

                  </div>
              );
      })
      )

@await Html.PartialAsync("Limitless/Kendo/Grid/Edit")
@await Html.PartialAsync("Footer")
@await Html.PartialAsync("Limitless/Kendo/Splitter/Height")

<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/chat')
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.on("Send",
        function(data) {

            const elem = document.createElement("p");
            elem.innerHTML = data;
            const firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

    document.getElementById("sendBtn").addEventListener("click",
        function(e) {
            const message = document.getElementById("message").value;
            const user = document.getElementById("user").value;
            hubConnection.invoke("Send", message, user);
        });

    hubConnection.start();
</script>