﻿@model EmaWebTest.Views.Shared.navbar.navbar_model

<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index", "Start", new {area = "Base"})" style="font-size: 20px;">
            @(Model.Caption.ToUpperInvariant())
        </a>
        @await Html.PartialAsync("navbar/mobile", Model)
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        @await Html.PartialAsync("navbar/left", Model)
        @await Html.PartialAsync("navbar/right", Model)
    </div>
</div>