﻿@model EmaWebTest.Views.Shared.navbar.navbar_model
<ul class="nav navbar-nav">
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="main"
           class="sidebar-control sidebar-main-toggle hidden-xs icon-paragraph-justify3">
        </a>
    </li>
    @*
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="secondary"
           class="sidebar-control sidebar-secondary-hide hidden-xs icon-transmission">
        </a>
    </li>
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="opposite"
           class="sidebar-control sidebar-opposite-fix hidden-xs icon-lan3">
        </a>
    </li>
    *@
</ul>