﻿@model EmaWebTest.Views.Shared.navbar.navbar_model

<ul class="nav navbar-nav visible-xs-block">
    <li>
        <a data-area="navbar"
           data-type="control"
           data-action="toggle"
           data-subject="right"

           data-toggle="collapse"
           data-target="#navbar-mobile"
           class="collapsed icon-tree5"
           aria-expanded="false">
        </a>
    </li>
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="main"
           class="sidebar-mobile-main-toggle icon-paragraph-justify3">
        </a>
    </li>
    @*
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="secondary"
           class="sidebar-mobile-secondary-toggle icon-more">
        </a>
    </li>
    <li>
        <a data-modul="navbar"
           data-type="control"
           data-control="opposite"
           class="sidebar-mobile-opposite-toggle icon-menu">
        </a>
    </li>
    *@
</ul>