﻿@model EmaWebTest.Views.Shared.navbar.navbar_model

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown dropdown-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span>@((Model.Auth?.Caption).RetIfNullOrWhiteSpace("неизвестный"))</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="@Url.Action("Logout", "Start", new
                         {
                             area = "Base"
                         })"
                   class="icon-switch2">
                    Выход
                </a>
            </li>
        </ul>
    </li>
</ul>